---
# tasks file for ansible-role-mysql-community-client

- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: Install mysql-community-client
  yum:
    name:
      - mysql-community-client
    enablerepo: {{ mysql_repo_name }}
    state: present
    update_cache: yes
